﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title- A4 VNEXPRESS</title>
    <link href="CSS/my_css.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a> 0123.889.0123 (HN)</a>
                <a> 0139.233.3555 (HCM)</a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng kí</button>
                <button>Đăng Nhập</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    <div class="main-conent"> @RenderBody()</div>
</body>
</html>
